.listContainer {
  width: 300px;
  /* overflow: hidden; */
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 300px;
  overflow: scroll;
  scrollbar-width: thin;
}

.listItem {
  background-color: pink;
  color: white;
  padding: 10px;
  border-bottom: 1px solid white;
}

.activeItem {
  background-color: #d4cdcd;
  color: black;
}
